{% if user.is_authenticated %}
<div class="flex items-center space-x-4">
    <span class="text-gray-700">Hello {{ user.username }}!</span>
    <form id="logoutForm" action="{% url 'logout' %}" method="post" hx-post="{% url 'logout' %}" hx-target="#logoutMessage" hx-swap="innerHTML">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Log off</button>
    </form>
    <div id="logoutMessage"></div>
</div>

{% else %}

<div class="flex items-center space-x-4">
    <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
</div>

{% endif %}
