<ul class="nav nav-pills flex-column bg-primary-subtle text-light shadow-sm p-3 rounded">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="dashboard" asp-page="/Moderator/Index">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ReviewsNavClass(ViewContext)" id="reviews" asp-page="/Moderator/Reviews/Index">Reviews</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-page="/Moderator/Users/Index">Users</a></li>
</ul>
