/* Site-wide styles */
body {
    background-color: #000235;
    color: white;
}

h1 {
    color: #FFD43B;
    margin-top: 20px;
    /* Adjust margin to move it down */
}

.navbar {
    background-color: transparent;
    /* Remove background box */
}

.nav-link {
    color: #FFD43B;
    /* Menu item font color */
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: white;
    /* Footer text color */
}

.btn {
    background-color: #420599;
    /* Button color */
    color: #FFD43B;
    /* Button text color */
}