@page
@model GameLibrary.Pages.Moderator.Users.EditModel

@{
    ViewData["Title"] = "Edit User";
}

<header>
    <h1>Edit User</h1>
</header>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdentityUser.Id" />

        <div class="form-group">
            <label asp-for="IdentityUser.UserName" class="control-label">User Name</label>
            <input asp-for="IdentityUser.UserName" class="form-control" />
            <span asp-validation-for="IdentityUser.UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentityUser.Email" class="control-label">Email</label>
            <input asp-for="IdentityUser.Email" class="form-control" />
            <span asp-validation-for="IdentityUser.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentityUser.FirstName" class="control-label">First Name</label>
            <input asp-for="IdentityUser.FirstName" class="form-control" />
            <span asp-validation-for="IdentityUser.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentityUser.LastName" class="control-label">Last Name</label>
            <input asp-for="IdentityUser.LastName" class="form-control" />
            <span asp-validation-for="IdentityUser.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentityUser.Address" class="control-label">Address</label>
            <input asp-for="IdentityUser.Address" class="form-control" />
            <span asp-validation-for="IdentityUser.Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentityUser.AvatarUrl" class="control-label">Avatar URL</label>
            <input asp-for="IdentityUser.AvatarUrl" class="form-control" />
            <span asp-validation-for="IdentityUser.AvatarUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
